Repository IngeHeeringa/202301-w6chwe-back-alexander-guillen-inge-heeringa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint",
  "*.{js, json, ts, css, md}": "prettier --write"
}

Add audit workflow
  .editorconfig
  .github/workflows/audit.yml
Due: none

Install express, morgan and their types
  package-lock.json
  package.json
Due: none

Install mongoose, dotenv and node types
  package-lock.json
  package.json
Due: none

Install jest and add config
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write

Install debug and chalk
  package-lock.json
  package.json
Due: none

Start server and create endpoint /robots
  .eslintrc.js
  package.json
  src/loadEnvironment.ts
  src/server/index.ts
  src/server/startServer.ts
  tsconfig.json
Due: eslint, prettier --write

Create connectDatabase function and configure connection
  .eslintrc.cjs
  src/database/connectDatabase.ts
  src/index.ts
Due: eslint

Install jest types
  jest.config.cjs
  package-lock.json
  package.json
Due: none

Add notFoundError and generalError middlewares
  src/CustomError/CustomError.ts
  src/server/middlewares/errorMiddlewares.ts
Due: eslint

Add notFoundError and generalError middlewares tests
  .eslintrc.cjs
  jest.config.cjs
  src/server/middlewares/errorMiddlewares.test.ts
  src/server/middlewares/errorMiddlewares.ts
Due: eslint

Create robotSchema
  .eslintrc.cjs
  jest.config.cjs
  src/database/models/robotSchema.ts
  src/index.ts
  src/server/startServer.ts
Due: eslint

Refactor notFoundError to only include nexting functionality
  src/server/middlewares/errorMiddlewares.test.ts
  src/server/middlewares/errorMiddlewares.ts
Due: eslint

Add sonar workflow and configure coverage reporting
  .eslintrc.cjs
  .github/workflows/sonar.yml
  sonar-project.properties
  src/index.ts
Due: eslint

Add getRobots controller function
  src/server/controllers/robotsControllers.ts
Due: eslint

Add getRobots controller function test
  src/database/models/robotSchema.ts
  src/database/robots/robots.ts
  src/server/controllers/robotsControllers.test.ts
  src/server/controllers/robotsControllers.ts
Due: eslint

Add robots mocks for tests
  package.json
  src/mocks/robotsMocks.ts
Due: eslint

Add robots mocks for tests
  package.json
  src/index.ts
  src/mocks/robotsMocks.ts
Due: eslint

Add js extensions to module imports
  .github/workflows/sonar.yml
  jest.config.cjs
  package-lock.json
  package.json
  sonar-project.properties
  src/database/robots/robots.ts
  src/index.ts
  src/server/controllers/robotsControllers.test.ts
  src/server/index.ts
  src/server/middlewares/errorMiddlewares.test.ts
  src/server/routers/robotsRouter.ts
Due: eslint

Fix file-extension import robotsControllers
  src/server/controllers/robotsControllers.ts
Due: eslint

Add Access-Control-Allow-Origin permissions
  package-lock.json
  package.json
  src/server/index.ts
Due: eslint

Set Access-Control-Allow-Origin header in getRobots
  src/mocks/robotsMocks.ts
  src/server/controllers/robotsControllers.ts
  src/server/index.ts
Due: eslint

Add header to getRobots for Access-Control-Allow-Origin
  src/mocks/robotsMocks.ts
  src/server/controllers/robotsControllers.ts
Due: eslint

Implement cors() function
  src/server/controllers/robotsControllers.ts
  src/server/index.ts
Due: eslint

Implement error middlewares in index
  sonar-project.properties
  src/server/index.ts
Due: eslint

Add virtual to convert '_id' MongoDB to 'id'
  src/database/connectDatabase.ts
  src/database/models/robotSchema.ts
  src/server/middlewares/errorMiddlewares.ts
  src/server/startServer.ts
Due: eslint

Create and implement getRobotById controller
  .gitignore
  src/mocks/robotsMocks.ts
  src/server/controllers/robotsControllers.test.ts
  src/server/controllers/robotsControllers.ts
  src/server/routers/robotsRouter.ts
Due: eslint

Create deleteRobotById controller
  src/server/controllers/robotsControllers.ts
  src/server/routers/robotsRouter.ts
Due: eslint

Test deleteRobotById controller
  src/server/controllers/robotsControllers.test.ts
Due: eslint

Install jwt and its types
  package-lock.json
  package.json
  src/server/middlewares/errorMiddlewares.test.ts
  src/server/middlewares/errorMiddlewares.ts
Due: eslint

Add User model
  .eslintrc.cjs
  package-lock.json
  src/database/models/Robot.ts
  src/database/models/User.ts
  src/server/controllers/robotsControllers.test.ts
  src/server/controllers/robotsControllers.ts
Due: eslint

Create auth middleware
  src/server/index.ts
  src/server/middlewares/auth.ts
  src/server/middlewares/errorMiddlewares.test.ts
  src/server/routers/robotsRouter.ts
  src/server/routers/userRouter.ts
Due: eslint

Test auth middleware header without authorization
  src/mocks/robotsMocks.ts
  src/server/controllers/loginUser.ts
  src/server/index.ts
  src/server/middlewares/auth.test.ts
  src/server/routers/userRouter.ts
  src/server/types.ts
Due: eslint

Add robotsController error test
  .eslintrc.cjs
  package-lock.json
  src/database/models/Robot.ts
  src/database/models/User.ts
  src/server/controllers/robotsControllers.test.ts
  src/server/controllers/robotsControllers.ts
Due: eslint

Add loginUser controller and userRouter
  src/server/controllers/loginUser.ts
  src/server/index.ts
  src/server/routers/userRouter.ts
Due: eslint

Add tests robotControllers error handling
  src/server/controllers/robotsControllers.test.ts
Due: eslint
